.col-md-6 {
    		margin-top: 10%;
    		border-radius: 37px;
    		padding: 19px;
    		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		input,button,a{
			border-radius: 50px!important;
		}